*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Timeless';
    src: url("../assets/fonts/Timeless-Bold.ttf") format('truetype');
    src: url("../assets/fonts/Timeless.ttf") format('truetype');
}

@font-face {
    font-family: 'Gotham';
    src: url("../assets/fonts/Gotham-Font/Gotham-Bold.otf") format('truetype');
    src: url("../assets/fonts/Gotham-Font/GothamMedium.ttf") format('truetype');
    /*src: url("../assets/fonts/Gotham-Font/GothamBook.ttf") format('truetype');*/
}

body{
    background-color: #f4f1e9a1;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body .galeria{
    background-image: url(../assets/img/fondo14.png);
}

body .fechas{
    background-image: url(../assets/img/fondo10.png);
}

body .discografia{
    background-image: url(../assets/img/fondo12.png);
}

body .contacto{
    background-image: url(../assets/img/fondo3.png);
    height: 200px;
}

header{
    width: 100%;
    overflow:hidden;
    background-image: url(../assets/img/fondo6.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header .arrow{
    width: 50px;
    height: 50px;
}

header .arrow:hover{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    transition: 0.4s;
}

.navBarMini{
    width: 100%;
    display: flex;
}

.navBarMini .containerMini{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.navBarMini li{
    width: 235px;
    height: 180px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
}

.navBarMini li a{
    display: inline-block;
    font-size: 40px;
    font-family: 'Timeless';
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navBarMini li a:hover{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: 0.4s;
}

.navBar{
    width: 100%;
    display: flex;
}

.navbar-nav{
    width: 100%;
    height: 525px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-item{
    width: 180px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
}

.nav-link{
    display: inline-block;
    font-size: 40px;
    font-family: 'Timeless';
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: 0.4s;
}

.navbar-toggler-icon{
    background-image: url(../assets/img/hamburguer.png);
}

button.navbar-toggler{
    background-color: none;
    border: none;
}

.nav-link{
    font-family: "Timeless";
    font-weight: bold;
    font-size: 1.5rem;
}

.point{
    width: 20px;
    height: 20px;
}

div.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

ol, ul{
    padding: 0;
}

.container2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 16px;
}

.container2 li{
    padding-top: 1%;
    padding-bottom: 1%;
    list-style: none;
}

.container2 li a:hover{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    transition: 0.4s;
}

.arrowContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.arrowImg
{
    width: 50px;
    height: 50px;
}

main{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: center;
}

section .container3{
    display: flex;
    flex-flow: column wrap;
}

.new{
    width:100%;
    overflow: hidden;
}

.new .container4{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.new .container5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.songsBox1{
    background: rgba(202, 202, 202, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(202, 202, 202, 0.3);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    align-items: flex-start;
    padding: 1%;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.songsBox2{
    background: rgba(202, 202, 202, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(202, 202, 202, 0.3);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow: hidden;
    padding: 3%;
    padding-top: 1%;
    margin: 2%;
    width: 97%;
}

.songsBox2 .videoTitle{
    font-size: 25px;
    margin-bottom: 1%;
    text-align: center;
}

.container4 .noSiente{
    display: flex;
    justify-content: flex-end;
}

.amuse{
    width: 250px;
    height: 250px;
    display: block;
    margin: 2%;
    margin-left: 1%;
}

div .song{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 5px black;
}

div .amuse:hover{
    box-shadow: 0 0 5px black;
    transition:0.4s;
}

.galeriaFotos{
    background: rgba(202, 202, 202, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(202, 202, 202, 0.3);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 1%;
    margin: 1%;
    width: 98%;
}

.galeriaFotos .marginFoto{
    margin: 1%;
}

div .foto{
    box-shadow: 0 0 5px black;
    width: 800px;
    height: 800px;
}

div .fotoGaleria{
    width: 100%;
    box-shadow: 0 0 5px black;
}

a .logo2{
    width: 235px;
    height: 180px;
    margin-top: 10px;
}

a .logo2:hover{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    transition: 0.4s;
}

.logo2{
    width: 235px;
    height: 180px;
}

a .logo{
    width: 180px;
    height: 140px;
}

a .logo:hover{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    transition: 0.4s;
}

.logo{
    width: 235px;
    height: 180px;
}

p{
    font-family: 'Gotham';
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 10px;
}

h1{
    font-size: 30px;
    font-family: 'Timeless';
    font-weight: lighter;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

section .mainTitle{
    font-size: 30px;
    font-family: 'Timeless';
    font-weight: lighter;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 18px;
}

section .title{
    text-align: center;
    margin: 2%;
}

div .title{
    text-align: center;
    margin: 1%;
}

h2{
    font-family: 'Gotham';
    font-size: 40px;
    font-weight:bold;
    margin-left: 10px;
    margin-top: 5px;
}

h3{
    font-family: 'Gotham';
    font-size: 25px;
    font-weight: medium;
    margin-left: 10px;
}

hr{
    width: 100%;
    color: rgb(211, 211, 211);
    margin: 0;
}

fieldset{
    background: rgba(202, 202, 202, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(202, 202, 202, 0.3);
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 1%;
    margin: 1%;
    width: 50%;
}

textarea{
    width: 100%;
    font-family: 'Gotham';
    font-size: 15px;
    font-weight:lighter;
    margin: 1%;
}

span{
    font-family: 'Gotham';
    font-size: 30px;
    font-weight:bold;
    margin: 1%;
}

input{
    width: 100%;
    margin: 1%;
    font-family: 'Gotham';
    font-size: 15px;
    font-weight:lighter;
}

form .button{
    width: 20%;
}

form .label{
    display: flex;
    flex-wrap: row nowrap;
}

form .labelArea{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-right: 2%;
}

iframe{
    width: 100%;
    box-shadow: 0 0 10px black;
}

a .socialMedia{
    width: 55px;
    height: 55px;
}

footer{
    width: 100%;
    overflow: hidden;
    background-color: white;
    margin-top: auto;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}

@media (min-width:250px){

    .nav-item{
        justify-content: flex-start;
    }

    a .logo{
        display: none;
    }

    .container4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap-reverse;
    }

    .container4 .noSiente{
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }

    .amuse{
        margin: 3%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .songsBox2{
        padding: 2%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    iframe{
        height: 180px;
    }

}

@media (min-width:400px){

    iframe{
        height: 210px;
    }

}

@media (min-width:665px){
    
    .songsBox1{
        flex-flow: row nowrap;
    }

    .amuse{
        margin: 1%;
    }

    iframe{
        height: 300px;
    }
}

@media (min-width:992px){

    header{
        height: 600 px;
    }

    .nav-item{
        justify-content: center;
    }

    a .logo2{
        display: none;
    }

    a .logo{
        display: flex;
    }

    .navbar-nav{
        justify-content: space-around;
    }

    .container4 .noSiente{
        display: flex;
        justify-content: flex-end;
    }

    iframe{
        height: 450px;
    }

}

@media (min-width:1300px){

    a .logo{
        width: 235px;
        height: 180px;
    }

    .logo{
        width: 235px;
        height: 180px;
    }

    .navbar-nav{
        justify-content: space-around;
    }

    .nav-item{
        width: 235px;
    }

    .nav-link{
        font-size: 2.3rem;
    }

    .new .container4{
        flex-flow: row;
    }

    iframe{
        height: 600px;
    }

/*   section .container3{
        display: flex;
        flex-flow: row nowrap;
    }

    .songsBox2{
        margin-left: 1%;
        margin-right: 1%;
    }
*/

}