@font-face {
	font-family: 'Timeless';
	src: url("../assets/fonts/Timeless-Bold.ttf") format('truetype');
	src: url("../assets/fonts/Timeless.ttf") format('truetype');
	font-family: 'Gotham';
	src: url("../assets/fonts/Gotham-Font/Gotham-Bold.otf") format('truetype');
	src: url("../assets/fonts/Gotham-Font/GothamMedium.ttf") format('truetype');
}