@font-face {
	font-family: 'DM Serif Display', serif;
	font-family: 'Gotham', sans-serif;
	src: url("../assets/fonts/Gotham-Font/Gotham-Bold.otf") format('truetype');
	src: url("../assets/fonts/Gotham-Font/GothamMedium.ttf") format('truetype');
}