body {
	background-color: #f4f1e9a1;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
div {
	&.info {
		display: flex;
		overflow: hidden;
		margin: 1%;
		align-items: center;
	}
	&.container-fluid {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
	.song {
		width: 100%;
		overflow: hidden;
		box-shadow: 0 0 5px black;
		align-self: center;
		margin: 1%;
	}
	.ownsong {
		width: 220px;
		height: 220px;
		box-shadow: 0 0 5px black;
	}
	.amuse {
		&:hover {
			box-shadow: 0 0 5px black;
			transition: 0.4s;
		}
	}
	.foto {
		box-shadow: 0 0 5px black;
		width: 100%;
		overflow: hidden;
		align-self: center;
	}
	.fotoGaleria {
		width: 100%;
		box-shadow: 0 0 5px black;
	}
	.title {
		text-align: center;
		margin: 1%;
	}
}
.arrowContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.arrowImg {
	width: 50px;
	height: 50px;
}
main {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
section {
	width: 100%;
	.container6{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	}
	.container3 {
		display: flex;
		flex-flow: column wrap;
	}
	.mainTitle {
		font-size: 30px;
		font-family: $typo_body;
		font-weight: lighter;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-top: 4%;
	}
	.title {
		text-align: center;
		margin: 1%;
		margin-left: auto;
		margin-right: auto;
	}
}
.new {
	width: 100%;
	overflow: hidden;
	.container4 {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
	}
	.container5 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	.title {
		margin-bottom: 0;
	}
}
.songsBox1 {
	@include glassmorphism;
	display: flex;
	flex-flow: column wrap;
	overflow: hidden;
	align-items: flex-start;
	padding: 4%;
	margin: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 30px;
	width: 90%;
}
.songsBox12 {
	@extend .songsBox1;
	align-items: center;
}

.songsBox13 {
	@extend .songsBox1;
	align-items: center;
	margin-top: 2%;
}

.songsBox2 {
	@include glassmorphism;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	overflow: hidden;
	padding: 3%;
	padding-top: 1%;
	margin: 2%;
	margin-bottom: 45px;
	width: 97%;
	.videoTitle {
		font-size: 30px;
		margin-bottom: 1%;
		text-align: center;
	}
}
.container4 {
	.noSiente {
		display: flex;
		justify-content: flex-end;
	}
}
.amuse {
	width: 220px;
	height: 220px;
	display: block;
	margin: 2%;
	margin-left: 1%;
}
.galeriaFotos {
	@include glassmorphism;
	overflow: hidden;
	padding: 1%;
	margin: 1%;
	margin-bottom: 45px;
	width: 98%;
	.marginFoto {
		margin: 1%;
	}
}
a {
	text-decoration: none;
	.logo2 {
		width: 235px;
		height: 180px;
		margin-top: 10px;
		&:hover {
			filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
			transition: 0.4s;
		}
	}
	.logo {
		width: 180px;
		height: 140px;
		&:hover {
			filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
			transition: 0.4s;
		}
	}
	.socialMedia {
		width: 55px;
		height: 55px;
		padding: 5%;
	}
}
.logo2 {
	width: 235px;
	height: 180px;
}
.logo {
	width: 235px;
	height: 180px;
}
p {
	font-family: $typo_body;
	font-size: 18px;
	font-weight: regular;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: justify;
	.songdesc {
		margin: 3%;
	}
}
h1 {
	font-size: 30px;
	font-family: $typo_body;
	font-weight: normal;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.titleGracias{
	font-family: $typo_title !important;
	font-weight: bold;
	font-size: 50px;
	padding: 1%;
	margin: 1%;
}
.titleGracias2{
	font-size: 30px;
	padding: 1%;
	margin: 1%;
}
article {
	width: 100%;
	overflow: hidden;
}
h2 {
	font-family: $typo_body;
	font-size: 40px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
}
h3 {
	font-family: $typo_body;
	font-size: 25px;
	font-weight: medium;
	margin-left: auto;
}
.galedesc {
	margin: 2%;
	font-size: 15px;
	text-align: justify;
}
fieldset {
	@include glassmorphism;
	display: flex;
	flex-flow: column wrap;
	overflow: auto;
	padding: 3%;
	padding-top: 1%;
	margin: 1%;
	width: 90%;
	margin-top: 30px;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}
textarea {
	width: 100%;
	font-family: $typo_body;
	font-size: 15px;
	font-weight: lighter;
	margin: 1%;
	padding: 1%;
	max-height: 200px;
	min-height: 200px;
}
span {
	font-family: $typo_body;
	font-size: 15px;
	font-weight: bold;
	margin: 1%;
	margin-right: 0;
	padding-top: 1%;
	align-self: flex-start;
}
input {
	width: 100%;
	margin: 1%;
	font-family: $typo_body;
	font-size: 15px;
	font-weight: lighter;
	padding: 1%;
}
form {
	.button {
		width: 40%;
		margin-bottom: 25px;
	}
	.label {
		display: flex;
		flex-direction: column;
	}
	.labelArea {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		padding-right: 2%;
	}
}
iframe {
	width: 100%;
	box-shadow: 0 0 10px black;
}
.playlist{
	width: 90%;
	box-shadow: none;
	overflow: auto;
	display: flex;
	box-shadow: 0 0 10px black
}
.playlistContainer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
}